// 基础黑色
$color-black: #000000;
// 基础白色
$color-white: #ffffff;
// 主题色
$color-primary: #409EFF;

// 主标题字体大小
$font-extra-large-size: 20px;
// 标题字体大小
$font-large-size: 18px;
// 小标题字体大小
$font-medium-size: 16px;
// 正文字体大小
$font-base-size: 14px;
// 正文（小）字体大小
$font-base-small-size: 13px;
// 辅助文字
$font-extra-small-size: 12px;

// 目录主题色
$menu-bg-color-primary: #002140;
// 目录辅助色
$menu-bg-color-auxiliary: #000c17;
// 目录文字主色
$menu-font-color-primary: hsla(0,0%,100%,.65);
// 主要内容背景色
$main-bg-color: #f0f2f5;
